* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #27292c;
  color: white;
}

h1 {
  color: bisque;
  padding: 20px;
}

p {
  margin-top: 10px;
  padding: 20px;
}

ol {
  margin: 20px;
  padding: 20px;
}

button {
  color: white;
  background-color: cadetblue;
  padding: 20px;
  margin: 20px;
}

.navbar {
  padding: 0px;
  margin: 0px;
}

.navbar-brand img {
  padding: 10px;
}

.facts-logo {
  width: 55px;
  padding: 2px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.facts-heading h1 {
  padding-left: 20px;
  color: white;
}

.facts-list li {
  color: white;
}
.facts-list {
  color: white;
  margin-top: 0;
  padding-top: 0px;
  margin-left: 30px;
}

.facts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

.nav-list li:hover {
  color: aqua;
}

.facts-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  text-align: center;

  padding: 20px;
}

.sev:hover {
  color: crimson;
}
